:root {
    --darkest        : #221a0f;
    --gray           : #414042;
    --asset-width    : 750px;
    --asset-height   : 1050px;
    --asset-font-size: 2.2em;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-screen .download {
    display: none;
}

.download-screen .assets,
.download-screen .interface {
    display: none;
}

.container {
    display        : flex;
    justify-content: space-around;
    align-items    : flex-start;
    flex-wrap      : wrap;
}

.interface {
    color             : var(--darkest);
    /* height         : 80vh; */
    display           : flex;
    align-items       : center;
    flex-direction    : column;
    justify-content   : space-around;
}

button {
    width         : 190px;
    font-size     : 100%;
    font-family   : inherit;
    border        : 0;
    padding       : 5px;
    margin        : 5px;
    border-radius : 5px;
    background    : white;
    border        : 2px solid var(--gray);
    font-weight   : bold;
    text-transform: uppercase;
}

button:hover,
button.selected {
    color           : white;
    background-color: var(--gray);
}

.interface-input {
    height    : 90%;
    width     : 100%;
    min-height: 500px;
    min-width : 400px;
}

.editor {
    display       : flex;
    flex-direction: column;
    border        : 5px solid var(--gray);
    padding       : 20px;
}

.scale-controls {
    /* border     : 3px solid var(--gray); */
    padding       : 5px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.scale-buttons {
    display  : flex;
    flex-wrap: wrap;
}

.credits {
    max-width : 500px;
    color     : var(--gray);
    text-align: center;
}

.assets {
    display        : flex;
    max-width      : 2250px;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: center;
}

.asset {
    font-family    : Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border         : 0.13em solid var(--gray);
    color          : var(--darkest);
    box-sizing     : border-box;
    font-size      : var(--asset-font-size);
    height         : var(--asset-height);
    width          : var(--asset-width);
    line-height    : 1.3em;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.top {
    text-transform: uppercase;
    font-weight   : 900;
    font-family   : Geneva, Verdana, sans-serif
}

.type {
    background-color: var(--gray);
    color           : white;
    padding         : .8em 0 .3em .95em;
    font-size       : 1.03em;
}

.asset-name {
    font-size: 1.26em;
    padding  : .7em .7em .53em .7em;
}

.header-circle {
    color          : white;
    background     : var(--gray);
    border         : .19em solid white;
    border-radius  : 50%;
    width          : 4em;
    height         : 4em;
    float          : right;
    margin-top     : -1.8em;
    margin-right   : 1em;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.header-icon {
    font-size: 2.5em;
}

.details {
    margin-left : .9em;
    margin-right: .7em;
    font-size   : 1.02em;
}

.write-in {
    border-bottom: .14em solid var(--gray);
    margin-right : .2em;
    margin-bottom: .71em;
}

.write-in::after {
    content: ":"
}

.description {
    margin-bottom: .28em;
}

.ability {
    display    : flex;
    line-height: 1.28em;
}

.ability-name {
    font-weight: bold;
}

.ability-name::after {
    content: ":"
}

.dot {
    margin   : -.06em .27em 0 -.03em;
    font-size: 1.58em;
}

.filled::before {
    content: "●";
}

.unfilled::before {
    content: "○"
}

.track {
    display        : flex;
    justify-content: center;
    margin-bottom  : .95em;
    color          : var(--gray);
}

.value {
    width          : 14.4%;
    height         : 2em;
    border         : .1em solid var(--gray);
    border-left    : .05em solid var(--gray);
    font-weight    : bolder;
    display        : flex;
    justify-content: center;
    align-items    : center;
    font-size      : 1.22em;
    font-family    : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.value::before {
    content: "+";
}

.value.zero {
    border-left: .1em solid var(--gray);
}

.value.empty::before,
.value.zero::before {
    content: "";
}

.asset.full .value.empty {
    background     : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='100' x2='100' y2='0' stroke='black' vector-effect='non-scaling-stroke' style='stroke:rgb(65,64,66);stroke-width:4' /></svg>");
    background-size: 100% 100%, auto;
}

.asset.two-thirds {
    height   : calc(var(--asset-height)*(2/3));
    width    : calc(var(--asset-width)*(2/3));
    font-size: calc(var(--asset-font-size)*(2/3));
}

.asset.two-thirds .value.empty {
    background     : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='100' x2='100' y2='0' stroke='black' vector-effect='non-scaling-stroke' style='stroke:rgb(65,64,66);stroke-width:3' /></svg>");
    background-size: 100% 100%, auto;
}

.asset.one-half {
    height   : calc(var(--asset-height)/2);
    width    : calc(var(--asset-width)/2);
    font-size: calc(var(--asset-font-size)/2);
}

.asset.one-half .value.empty {
    background     : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='100' x2='100' y2='0' stroke='black' vector-effect='non-scaling-stroke' style='stroke:rgb(65,64,66);stroke-width:2' /></svg>");
    background-size: 100% 100%, auto;
}

.asset.one-third {
    height   : calc(var(--asset-height)/3);
    width    : calc(var(--asset-width)/3);
    font-size: calc(var(--asset-font-size)/3);
}

.asset.one-third .value.empty {
    background     : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='100' x2='100' y2='0' stroke='black' vector-effect='non-scaling-stroke' style='stroke:rgb(65,64,66);stroke-width:1' /></svg>");
    background-size: 100% 100%, auto;
}