body {
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.container {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    flex-wrap      : wrap;
    height         : 80vh;
    /* wee bit hacky */
}


.assets {
    display: flex;
}

.interface {
    height         : 100%;
    display        : flex;
    align-items    : center;
    flex-direction : column;
    justify-content: space-around;
}

.interface-input {
    height: 90%;
    width : 400px;

}

.asset {
    border         : 0.13em solid black;
    font-size      : 2.2em;
    height         : 1050px;
    width          : 750px;
    line-height    : 1.3em;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.top {
    text-transform: uppercase;
    font-weight   : bolder;
    font-family   : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.type {
    background-color: black;
    background      : black;
    color           : white;
    padding         : .5em 0 .2em .5em;
}

.asset-name {
    font-size: 1.3em;
    padding  : .4em .5em;
}

.header-circle {
    /* TODO position in a better way? CSS Grid? */
    color          : white;
    background     : black;
    border         : .1em solid white;
    border-radius  : 50%;
    width          : 3em;
    height         : 3em;
    float          : right;
    margin-top     : -1.3em;
    margin-right   : .8em;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.header-icon {
    font-size: 2.5em;
}

.write-in {
    border-bottom: .1em solid black;
}

.write-in::after {
    content: ":"
}

.write-in,
.description {
    margin-left  : .7em;
    margin-bottom: .5em;
    margin-right : .7em;
}

.ability {
    margin : 0 1em .3em 0em;
    display: flex;
}

.ability-name {
    font-weight: bold;
}

.ability-name::after {
    content: ":"
}

.dot {
    margin   : -.04em .4em 0 .4em;
    font-size: 1.4em;
}

.filled::before {
    content: "●";
}

.unfilled::before {
    content: "○"
}

.track {
    display        : flex;
    justify-content: center;
    margin-bottom  : 1em;
}

.value {
    width          : 14%;
    height         : 2em;
    border         : .1em solid black;
    font-weight    : bolder;
    display        : flex;
    justify-content: center;
    align-items    : center;
    font-size      : 1em;
    font-family    : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.value::before {
    content: "+";
}

.value.empty::before,
.value.zero::before {
    content: "";
}


.value.empty {
    background     : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='100' x2='100' y2='0' stroke='black' vector-effect='non-scaling-stroke'/></svg>");
    background-size: 100% 100%, auto;
}