@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --darkest: #221a0f;
  --gray: #414042;
  --font: "Lato";
  --off-white: #f9f9f9;
}

/* to fix jumpy scrollbar */
/* Commented out because it messes up the html2canvas export */
/* html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
} */

body {
  font-family: var(--font);
  background-color: white;
}

.app-header {
  display: flex;
  justify-content: center;
}

.app-version {
  color: var(--gray);
  font-size: 0.7em;
}

.preview-download {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.preview-download-help {
  width: 30%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.interface {
  color: var(--darkest);
  /* height         : 80vh; */
  display: flex;
  /* align-items       : center; */
  flex-direction: column;
  justify-content: space-around;
  width: 720px;
  margin-left: 25px;
  margin-right: 25px;
}

button,
select {
  width: 190px;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 5px;
  margin: 5px;
  background: white;
  border: 2px solid var(--gray);
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

label {
  margin-left: 5px;
}

button:hover,
button.selected {
  color: white;
  background-color: var(--gray);
}

.asset-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.asset-selection-controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -5px;
}

.asset-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease-in-out;
  margin: 10px;
}

.asset-choice:hover {
  transform: scale(1.15, 1.15);
  z-index: 100;
}

.asset-choice .asset {
  background-image: url("./Asset/ironsworn_asset_background_rounded.svg");
}

.add-new-asset.asset {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
}

.add-new-asset-text {
  font-size: 3em;
  width: 75%;
  text-align: center;
  line-height: normal;
}

.interface-input {
  height: 90%;
  width: 100%;
  min-height: 500px;
  min-width: 400px;
}

.json-error-container {
  height: 100px;
}

.json-error {
  height: 100%;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.json-error button {
  width: 400px;
}

.editor {
  display: flex;
  flex-direction: column;
  border: 5px solid var(--gray);
  box-sizing: border-box;
  width: 100%;
  min-height: 300px;
  background-color: var(--off-white);
}

.editor-view {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.text-input,
.number-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

input,
textarea {
  font-family: var(--font);
  font-size: 16px;
}

.text-input input,
.number-input input,
.text-input textarea {
  margin-left: 5px;
}

.text-input input {
  width: 200px;
}

.number-input input {
  width: 100px;
}

.font-inputs {
  display: flex;
}

.font-inputs .text-input input {
  width: 350px;
}

.thin-box-border {
  border: 1px solid var(--gray);
  margin: 5px;
  padding: 5px;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  justify-content: space-between;
}

.view-switcher {
  display: flex;
  justify-content: space-between;
}

.change-view {
  width: 100%;
  margin: 0;
  border: none;
  background-color: var(--gray);
  color: var(--off-white);
}

.change-view.selected,
.change-view:hover {
  background-color: var(--off-white);
  color: var(--gray);
}

.ability-input {
  margin: 10px 10px 20px 10px;
  padding: 5px;
  border-left: 4px solid var(--gray);
  border-radius: 4px;
}

.ability-input-top,
.ability-input-top-fields,
.ability-input-top-fields .text-input {
  display: flex;
  flex-direction: row;
}

.ability-input-top {
  justify-content: space-between;
}

.ability-button {
  width: 100px;
  border: 1px solid var(--gray);
  margin: 0;
  margin-left: 5px;
}

.icon-import {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.icon-import-helptext {
  margin-left: 5px;
  width: 80%;
}

.icon-import-author,
.icon-import-fileselect {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.icon-import-author input {
  width: 200px;
}

.icon-import-author input,
.icon-import-fileselect input {
  margin-left: 5px;
}

.help {
  display: flex;
  justify-content: center;
}

.bottom-controls {
  /* border      : 3px solid var(--gray); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.export {
  height: 100%;
  display: flex;
  align-items: center;
}

.scale-buttons {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  text-align: center;
  color: #777;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer a,
.footer a:visited {
  color: blue;
  text-decoration: none;
}

.footer p {
  max-width: 570px;
  margin: 0 15px 10px 15px;
}

.credits {
  font-size: 0.9em;
  max-width: 800px;
}

.assets {
  display: flex;
  max-width: 2250px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.sheet-of-assets {
  display: flex;
  flex-wrap: wrap;
  width: 2250px;
}
